:root {
  --accent-color: #0891b2;
  --secondary-font-color: #565656;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Quattrocento", serif;
}

p {
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  overflow: hidden;
}

.headerDecoration {
  position: absolute;
  top: 0;
  height: 1000px;
  width: 200%;
  background-color: var(--accent-color);
  transform-origin: bottom left;
  transform: translateY(-500px) rotate(-25deg);
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.headerImageContainer {
  position: relative;
  text-align: left;
  width: 320px;
  margin: 64px auto;
}

.headerImageContainer > img {
  display: block;
  width: 100%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.headerImageContainer > h1 {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 32px;
  color: white;
  font-size: 5rem;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.aboutMeText {
  text-align: center;
  padding: 24px;
}

.aboutMeText > h2,
.myWork > h2 {
  font-size: 3rem;
}

.aboutMeText > p {
  margin: 16px 0;
  color: var(--secondary-font-color);
  font-size: 1.4rem;
  text-align: left;
}

.aboutMeText > div {
  font-size: 2.5rem;
}

.aboutMeLinks * {
  margin: 0 12px;
}

.myWork {
  margin: 128px auto;
  max-width: 1500px;
  text-align: center;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
  margin: 64px;
}

.projectCard {
  max-width: 350px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.projectImage {
  height: 260px;
  padding: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 3.5rem;
}

.projectImage.purple {
  background-color: #7c75ca;
}

.projectImage.orange {
  background-color: #d88f39;
}

.projectImage.green {
  background-color: #5e8f4d;
}

.projectImage.pink {
  background-color: #ca7599;
}

.projectImage.blue {
  background-color: #4692d9;
}

.projectTitle {
  display: flex;
  padding: 16px 32px;
}

.projectTitle > h3 {
  flex: 1;
  font-size: 1.7rem;
  text-align: left;
  font-weight: normal;
}

.projectLinks {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  font-size: 1.5rem;
}

.projectLinks > img {
  width: 25px;
}

.projectDescription {
  height: 125px;
  font-size: 1rem;
  color: var(--secondary-font-color);
  text-align: left;
  padding: 0 32px;
}

footer {
  background-color: var(--accent-color);
}

.footerInfoContainer {
  padding: 24px;
}

.footerInfoContainer > div {
  margin-bottom: 32px;
}

.footerInfoContainer > h2 {
  margin-bottom: 16px;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.footerInfoContainer p {
  font-size: 1.2rem;
  line-height: 1.4;
  color: white;
}

.footerPhone,
.footerEmail {
  display: flex;
}

.footerPhone {
  margin-bottom: 8px;
}

.footerInfoContainer img {
  display: none;
  color: white;
  width: 25px;
  margin-right: 16px;
}

.footerInfoContainer > div:first-of-type > p {
  font-size: 1.3rem;
  text-align: left;
}

.footerInfoContainer > div:last-of-type {
  display: flex;
  gap: 48px;
  justify-content: center;
  font-size: 3rem;
}

footer > img {
  display: block;
  margin-top: 32px;
  width: 100%;
}

@media (min-width: 800px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 36px;
  }

  .footerInfoContainer {
    margin: auto 0;
  }

  .footerInfoContainer > h2 {
    text-align: left;
  }

  .footerInfoContainer img {
    display: inline;
  }

  .footerInfoContainer > div:last-of-type {
    display: flex;
    justify-content: flex-start;
    gap: 36px;
    font-size: 3rem;
  }

  footer > img {
    max-width: 320px;
    margin: auto 0;
  }
}

@media (min-width: 780px) {
  .headerDecoration {
    transform: translateY(-400px) rotate(-12deg);
  }

  .aboutMe {
    margin: 192px 128px 32px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }

  .headerImageContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    margin: unset;
    padding: 64px;
  }

  .headerImageContainer > img {
    width: 320px;
  }

  .headerImageContainer > h1 {
    width: max-content;
    bottom: unset;
    left: unset;
    top: 96px;
    right: 64px;
  }

  .floater {
    float: left;
    width: 250px;
    height: 330px;
  }

  .aboutMeText > h2 {
    margin-top: 96px;
  }

  .aboutMeText > p {
    margin-bottom: 96px;
  }

  .aboutMeLinks {
    display: none;
  }

  .myWork > h2 {
    text-align: left;
    margin-left: 128px;
  }

  .projectsContainer {
    justify-content: space-evenly;
  }
}

@media (min-width: 1250px) {
  .headerDecoration {
    transform: rotate(-10deg);
  }

  .aboutMe {
    margin: 64px 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unset;
    box-shadow: unset;
  }

  .aboutMeText {
    max-width: 900px;
    margin: 0;
    text-align: left;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }

  .headerImageContainer {
    flex-shrink: 0;
    position: relative;
    padding: 0;
    width: 600px;
  }

  .headerImageContainer > img {
    width: 100%;
  }

  .headerImageContainer > h1 {
    top: unset;
    bottom: 16px;
    right: 16px;
  }

  .floater {
    display: none;
  }

  .aboutMeLinks {
    display: block;
    text-align: right;
  }
}
